@import "@styles/variables";
@import "@styles/fonts";
@import "@styles/typography";

.button {
  @extend %buttons;

  &:focus-visible,
  &:focus {
    outline: none;
    border: none;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  /* ------------------------ GHOST BUTTON ------------------------ */
  &.ghost {
    @extend %buttons;
    background: transparent;
    border: none;
    padding: 0;
    border-bottom: 4px solid transparent;

    &.white {
      color: $primary-color;

      &:hover {
        color: $secondary-color;
        border-bottom: 4px solid $secondary-color;
      }

      &:active {
        outline: none;
        color: $secondary-color;
        border-bottom: 4px solid $secondary-color;
      }
    }

    &.black {
      &:hover {
        color: $secondary-color;
        border-bottom: 4px solid $secondary-color;
      }

      &:active {
        outline: none;
        color: darken($black-light, 10%);
        border-bottom: 4px solid darken($black-light, 10%);
      }
    }
  }

  /* ------------------------ LIGHT BUTTON ------------------------ */
  &.light {
    min-height: 60px;
    width: 100%;
    background-color: transparent;
    border: 2px solid $primary-color;
    color: $primary-color;

    &:hover {
      border: 2px solid $secondary-color;
      color: $secondary-color;
    }

    &:active {
      outline: none;
      color: $secondary-color;
      border-bottom: 2px solid $secondary-color;
    }
  }

  /* ------------------------ CROSS BUTTON ------------------------ */
  &.cross {
    background-color: transparent;
    padding: 0;
    border: none;
  }

  /* ------------------------ DARK BUTTON ------------------------ */
  &.dark {
    background-color: $black-light;
    color: $secondary-color;
    min-height: 60px;
    width: 100%;
    border: none;

    &:hover {
      border: 2px solid $black-light;
      color: $black-light;
      background-color: transparent;
    }
  }

  /* ------------------------ CIRCLE BUTTON ------------------------ */
  &.circle {
    @extend %buttons-s;
    background-color: transparent;
    color: $black-light;
    border-radius: $medium-border-radius;
    height: 30px;
    min-width: 100%;
    border: 1px solid $black-light;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: $secondary-color;
      background-color: $black-light;
    }
  }

  &.menu {
    background-color: transparent;
    border: none;
  }
}
