@import "@styles/variables";
@import "@styles/fonts";
@import "@styles/typography";

@import "@styles/variables";
@import "@styles/fonts";

.widget {
  background-color:  rgba($black, 0.2);; 
  width: 1380px;
  height: 410px; 

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 60px -125px;

  & > * {
    width: 100%;

    @media (min-width: 700px) {
      padding: 38px 0 0 124px;
    }
  }

  .widget_grid {
    display: grid;

    @media (min-width: 700px) {
      grid-template-columns: repeat(4, 22%);
      margin-bottom: 20px;
      column-gap: 26px;
      row-gap: 56px;
    }
  }

  .widget_info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    margin-bottom: 20px;
    gap: 30px;
    padding: 14px 0 0 0;

    .widget_text {
      @extend %h3-bold;
      color: $blue;
    }

    .widget_arrow {
      transform: rotate(0deg); 
    }
  }

  .widget_button {
    display: flex;
    justify-content: center;
    height: 60px;    
    margin-top: auto;
    margin-bottom: 11px;
  }
}

@media (max-width: 700px) {
  .widget {
    width: 375px;
    height: auto;
    margin: 0 0 0 -20px;
    padding: 0 0 0 20px;

    .widget_grid {
      grid-template-columns: 1fr; 
      gap: 29px;
    }
    .widget_button{
        width: 335px !important;
      }

    .widget_info {
      flex-direction: column; 
      align-items: flex-start;
      width: 335px;
      gap: 18px;
      margin-bottom: -10px;

      svg {
        transform: rotate(90deg); 
        align-self: end;
        margin-right: 4px;
      }

      
      
    }
  }
}
