@import "@styles/variables";
@import "@styles/fonts";
@import "@styles/typography";

.newsCard {
  width: 380px;
  background-color: transparent;
  text-align: start;
  display: flex;
  gap: 10px;
  flex-direction: column;
  box-sizing: border-box;

  @media (max-width: 700px) {
    width: 335px;
    min-height: 167px;
  }

  @media (min-width: 700px) {
    height: 172px;
    justify-content: space-between;
  }
}

.newsCard_title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newsCard_title_date {
  @extend %body-m;
  color: $gray;
  margin: 0 0 0px 0;
}

.newsCard_title_title {
  @extend %body-l;
  margin: 0 0 10px 0;

  &.primary {
    color: $primary-color;
  }

  &.secondary {
    color: $secondary-color;
  }
}

.newsCard_text {
  @extend %body-m;
  color: $primary-color;
  margin: 0;

  @media (min-width: 700px) {
    letter-spacing: 0.2px;
  }
}
