// Цвета

$primary-color: #FFFFFF;
$secondary-color: #00FFA3;
$secondary-color-dark: #10BF80;
$black-light: #131516;
$black: #000000;
$blue: #000AFF;
$gray: #4E4E4E;

// Внешние отступы

$centered-margin: 0 auto;
$side-margin: auto;


// Радиусы бордеров 
$medium-border-radius: 15px;