// Цвета

$primary-color: #ffffff;
$secondary-color: #00ffa3;
$secondary-color-dark: #10bf80;
$black-light: #131516;
$black: #000000;
$blue: #000aff;
$gray: #4e4e4e;

// Внешние отступы

$centered-margin: 0 auto;
$side-margin: auto;

// Радиусы бордеров
$medium-border-radius: 15px;
