@import "@styles/variables";
@import "@styles/typography";

.social_icons {
  display: flex;
  justify-content: center;
  margin: 5px 0 0 0;
  padding: 0;
  gap: 29px;
  width: 186px;
  height: 24px;

  a {
    display: inline-block;

    svg {
      width: 24px;
      height: 24px;

      path {
        fill: $primary-color;
      }
    }
  }
}

.dark {
  a {
    svg {
      path {
        fill: $black-light;
      }
    }
  }
}
