@import '@styles/variables';
@import '@styles/fonts';
@import '@styles/typography';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: 'NotoSans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: inherit;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ol,
ul {
  list-style: none;
}
