@import '@styles/variables';
@import '@styles/fonts';
@import '@styles/typography';


.infoCard {
  @extend %h2;
  width: 482px; 
  height: 100px;
  padding: 17px 28px;
  background-color: rgba($primary-color, 0.1);
  border-left: 3px solid $secondary-color;
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  z-index: 10;

  p {
    margin: 0;
    color: $secondary-color;
    width: 341px;
    display: flex;
    text-align: start;
  } 
}

 @media (max-width: 700px) {
    .infoCard {
      @include font($fz: 20px, $fw: 400, $lh: 27.24px);
      padding: 17px 22px;
      width: 331px;
  }
    p {
      width: 277px !important;
    }
}





